nav{
    height: 70px;
    
    background-color:rgba(55, 207, 218, 0.856);

}
nav a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
    
}
input{
    width: 700px;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
  

}
.input{
    margin: 50px;
    text-align: center;
}
.row{
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card button{
    border: none;
    background:linear-gradient(skyblue,rgb(88, 88, 136),rgb(50, 50, 153));
    color: white;
}